<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Fjalla+One|Libre+Franklin|Sedgwick+Ave" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>NBA News Scraper</title>
</head>

<body id="cover">

<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<!-- NAVBAR                      -->

    <header>
      <div class="navbar-fixed hoverable">
        <nav class="grey darken-3 ">
          <div class="nav-wrapper container grey darken-3">
            <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="/" class="brand-logo siteName">NBA News <span id=scraper>Scraper</span></a>
  <!-- Standard Navbar -->
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/"  id="all-articles">VIEW ALL</a></li>
              <li><a href="/saved" id="saved-articles">VIEW SAVED</a></li>
              <li>
                <form action="/scrape" method="GET">
                  <button class="waves-effect waves-grey btn-flat" id="refresh-articles" type="submit">SCRAPE NEWS</button>
                </form>
              </li>
            </ul>
  <!-- Mobile Navbar -->
            <ul class="side-nav" id="mobile-demo">
              <li><a href="/"  id="all-articles">VIEW ALL</a></li>
              <li><a href="/saved" id="saved-articles">VIEW SAVED</a></li>
              <li>
                <form action="/scrape" method="GET">
                  <button class="waves-effect waves-grey btn-flat" id="refresh-articles" type="submit">SCRAPE NEWS</button>
                </form>
              </li>
            </ul>
          </div>
        </nav>
      </div>
        <br>
<!-- /////////////////////////// -->

<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<!-- SEARCH                      -->
        <div class="row">
          <form action="/search" method="POST" class="container">
            <input type="text" name="search" placeholder="Search for articles" id="search-input">
            <button type="submit" id="search-submit" class="menuButtons waves-effect waves-light btn grey darken-3 btn-large hoverable">Submit</button>
          </form>
        </div>
      </div>
    </header>
<!-- /////////////////////////// -->

<main>
<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<!-- HANDLEBARS - BODY           -->
  <div class="container">
    {{{ body }}}
  </div>
<!-- /////////////////////////// -->

  <script src="/assets/js/app.js"></script>

<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<!-- NOTES MODAL                 -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div id="addnote" style=display:inline>
        <div id="note-displayer">
          <h2 class="noteHeader">Note</h2>
          <div class="row">
            <div id="note col s12">
              
              <div class="input-field col s6">
                <input placeholder="Enter a Title here" name="title" id="note-title" type="text" class="validate">
                <label for="first_name">Note Title</label>
              </div>
              <br>
              <label for="note-body">Note</label>
              <br>
              <div class=".input-field">
                <textarea rows="7" placeholder="Note" id="note-body"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">

      <button class="modal-action modal-close waves-effect waves-grey btn-flat" type="submit" id="add-note">Save Note</button>
      <button class="modal-action modal-close waves-effect waves-grey btn-flat"type="button" id="close-note">Cancel</button>

    </div>
  </div>
<!-- /////////////////////////// -->
</main>

<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<!-- FOOTER                      -->
    <footer class="page-footer grey darken-3">
      <div class="footer-copyright">
        <div class="container grey darken-3">
          © Copyright 2017 Misael Rivera
        </div>
      </div>
    </footer>
  </div>
<!-- /////////////////////////// -->

    <script src="/assets/js/app.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
      $( document ).ready(function(){
        $(".button-collapse").sideNav();
        $('.modal').modal();
      })
    </script>
</body>

</html>