body {
  background-image: url("/assets/images/cover.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-color: rgba(0,0,0,.25);
  color:white;
  font-size:14px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#siteName {
  font-size:60px;
  font-family: 'Archivo Black', sans-serif;
  color:white;
  padding: 30px 0px;
}

#scraper {
  font-family: 'Sedgwick Ave', cursive;
}

.menu {
  margin-left:10px !important;
}

.menuButtons{
  margin: 10px 0px;
  float:left;
  margin-right:10px;
} 

#refresh-articles {
  color:white;
}

.c-dynamic-image {
  width:150px;
  vertical-align:middle;
}

.story-body {
  background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.1));
  padding:20px;
  margin-bottom:10px;
}

.headline {
  color:white;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 30px;
}

#instructions {
  color:white;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 50px;
  line-height:75px;
}

h2 {

}

.noteHeader {
  color:grey;
} 